doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Language", content="ja")
    meta(name="keywords", content="すたちゅー,スタチュー,てゆうかもう寝よう")
    meta(name="description", content="てゆうかもう寝よう")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title="てゆうかもう寝よう。"
    link(rel="icon", href="/images/favicon.png", type="image/png")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
    script(type="application/javascript", src="/javascripts/client.js", defer)
  body
    div.title
      a#title てゆうかもう寝よう。
    div#image.image
    div.tweet
      a#tweet(target="_blank")
        button ツイート
    div#items.items
    div.clearboth
    div.footer
      p &copy;&nbsp;2014&nbsp;
        a(href="https://twitter.com/rgx_6", target="_blank") @rgx_6
        ,&nbsp;
        a(href="https://twitter.com/dangoinette", target="_blank") @dangoinette
