body {
  background-color: #eee;
}

.title {
  margin: 20px 0;
  text-align: center;
}

.title a {
  font-size: 48px;
  cursor: pointer;
}

.image {
  margin: 0 auto;
  width: 320px;
  height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  border-radius: 20px;
}

.tweet {
  margin: 20px 0 4px 0;
  text-align: center;
}

.tweet button {
  font-size: 30px;
}

.items {
  margin: 0 auto;
  max-width: 780px;
}

.items div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 0 0 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.clearboth {
  clear: both;
}

.footer {
  text-align: center;
}
