* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  margin: 0 0 10px;
}

body.christmas-background {
  background: repeating-linear-gradient(
    45deg,
    #edccbf,
    #edccbf 10px,
    #ccedbf 10px,
    #ccedbf 20px
  );
}

body.hinamatsuri-background {
  background-color: #c0f0c0;
  background-image:
    linear-gradient( 30deg, #eee    12%, transparent 12.5%, transparent 87%, #eee  87.5%, #eee   ),
    linear-gradient(150deg, #eee    12%, transparent 12.5%, transparent 87%, #eee  87.5%, #eee   ),
    linear-gradient( 30deg, #eee    12%, transparent 12.5%, transparent 87%, #eee  87.5%, #eee   ),
    linear-gradient(150deg, #eee    12%, transparent 12.5%, transparent 87%, #eee  87.5%, #eee   ),
    linear-gradient( 60deg, #f0c0c0 25%, transparent 25.5%, transparent 75%, #f0c0c0 75%, #f0c0c0),
    linear-gradient( 60deg, #f0c0c0 25%, transparent 25.5%, transparent 75%, #f0c0c0 75%, #f0c0c0);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

body.aprilfool-background {
  background-color: #fdd9d9;
}

body.goldenweek-background {
  background: linear-gradient(75deg, #410E01, #D7AD37, #FBD25C, #FAE56B);
}

.title {
  margin: 20px 0;
  text-align: center;
}

.title a {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  user-select:         none; /* CSS3          */
  -moz-user-select:    none; /* Firefox       */
  -webkit-user-select: none; /* Safari Chrome */
  -ms-user-select:     none; /* IE10以降      */
}

.items {
  margin: 0 auto;
  max-width: 1100px;
}

.items .size-cover {
  background-size: cover;
}

.items .contain {
  background-size: contain;
}

.items div,
.items a {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 20px;
  display: block;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 329px) {
  .items :nth-child(3n+1) {
    margin-right: 0;
  }
}

.items .selected {
  position: relative;
  width: 320px;
  height: 320px;
  cursor: auto;
  background-position: center center;
}

.items .selected .taInfo {
  position: relative;
  cursor: auto;
  display: none;
  width: 320px;
  height: 320px;
  background-color: #fff;
  opacity: .95;
  z-index: 2;
}

.items .selected .taInfo p:first-child {
  margin: 40px 0 30px;
}

.items .selected .taInfo p {
  position: relative;
  text-align: center;
  margin-top: 20px;
  line-height: 25px;
  font-size: 25px;
  color: #000;
}

.items .selected .taInfo p.taReset {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 25px;
  font-size: 20px;
  margin: 0;
  border-radius: 20px;
  background-color: #ccc;
  cursor: pointer;
}

.items .selected .onlineInfo {
  position: relative;
  cursor: auto;
  display: none;
  width: 320px;
  height: 320px;
  background-color: #fff;
  opacity: .95;
  z-index: 2;
}

.items .selected .onlineInfo p {
  position: relative;
  text-align: center;
  margin-top: 25px;
  line-height: 25px;
  font-size: 25px;
  color: #000;
}

.items .tweet {
  position: relative;
  background-color: #55acee;
  background-image: url(/images/Twitter_logo_white.png);
  background-size: auto;
  background-position: center center;
}

.items p {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  bottom: 7px;
}

.items p.rankingCount {
  bottom: 0;
  right: 0;
  width: 40px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  border-radius: 20px 0 0 0 / 20px 0 0 0;
  color: #000;
  background-color: #eee;
}

.items .count {
  position: relative;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.items .selected-thumbnail {
  background-origin: border-box;
  border: solid 3px #55acee;
  box-sizing: border-box;
}

a.birthday {
  display: none;
  position: relative;
  background-color: #DFEAD6;
}

.birthday p {
  top: 20px;
  line-height: 20px;
  color: #000;
}

a.sta4koma {
  position: relative;
  background-image: url(/images/sta4koma.png);
  background-size: 80%;
  background-position: center center;
}

.sta4koma p {
  color: #000;
}

a.stabook {
  position: relative;
  background-image: url(/images/stabook.png);
  background-position: center center;
}

a.hobo_stabook {
  position: relative;
  background-image: url(/images/hobo_stabook.png);
  background-position: center center;
}

a.furoshiki {
  background-image: url(/images/furoshiki.png);
  background-position: center center;
  position: relative;
}

a.furoshiki p {
  color: #fff;
  font-weight: bold;
  text-shadow:  2px  2px 2px #004D00,
               -2px  2px 2px #004D00,
               -2px -2px 2px #004D00,
                2px -2px 2px #004D00;
}

a.linestamp {
  background-color: #00c300;
  background-image: url(/images/linestamp.png);
  background-position: center center;
  position: relative;
}

a.linestamp p {
  color: #000;
  font-size: 90%;
  font-weight: bold;
  text-shadow:  1px  1px 1px #00c300,
               -1px  1px 1px #00c300,
               -1px -1px 1px #00c300,
                1px -1px 1px #00c300;
}

a.statshirt {
  position: relative;
  background-image: url(/images/statshirt.png);
}

.statshirt p {
  color: #000;
}

.statobashi p {
  color: #000;
  line-height: 20px;
  top: 20px;
  bottom: 0;
}

.reply p {
  color: #000;
  line-height: 20px;
  font-size: 17px;
  top: 30px;
  bottom: 0;
}

.reply textarea {
  background: #fff;
  border: 0;
  display: none;
  font-size: 10px;
  height: 80px;
  line-height: 15px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  resize: none;
  top: 10px;
  width: 80px;
  word-break: break-all;
  word-wrap: break-word;
}

.mode label {
  display: block;
  margin: 22px 0;
  text-align: center;
  line-height: 17px;
  font-size: 17px;
}

.modelabel.on {
  color: #ee55ac;
}

.modelabel.off {
  color: #55acee;
}

.sync {
  position: relative;
  text-align: center;
  line-height: 100px;
  font-size: 17px;
}

.updated {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.scrollToTop {
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  display: none;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  padding: 10px;
  position: fixed;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 50px;
}

.arrow:after {
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 10px;
}

@media (max-width: 439px) {
  .tweet:after {
    bottom: 100%;
    left: 50%;
    border-bottom-color: #55acee;
    margin-left: -10px;
  }

  .count:after {
    right: 100%;
    top: 50%;
    border-right-color: #fff;
    margin-top: -10px;
  }
}

@media (min-width: 440px) and (max-width: 549px) {
  .tweet:after {
    right: 100%;
    top: 50%;
    border-right-color: #55acee;
    margin-top: -10px;
  }

  .count:after {
    bottom: 100%;
    left: 50%;
    border-bottom-color: #fff;
    margin-left: -10px;
  }
}

@media (min-width: 550px) {
  .tweet:after {
    right: 100%;
    top: 50%;
    border-right-color: #55acee;
    margin-top: -10px;
  }

  .count:after {
    right: 100%;
    top: 50%;
    border-right-color: #fff;
    margin-top: -10px;
  }
}

#animation-canvas-wrapper {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
}

#animation-canvas {
  pointer-events: none;
}

.clearboth {
  clear: both;
}

.footer {
  text-align: center;
}

.launchCounter {
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 2;
}

.sprite {
    background-image: url(/images/stamp/stampspritesheet.png?d=20180624);
}

.sprite-stamp001 {
    background-position: 0 0;
}

.sprite-stamp002 {
    background-position: -100px 0;
}

.sprite-stamp003 {
    background-position: -200px 0;
}

.sprite-stamp004 {
    background-position: -300px 0;
}

.sprite-stamp005 {
    background-position: -400px 0;
}

.sprite-stamp006 {
    background-position: -500px 0;
}

.sprite-stamp007 {
    background-position: -600px 0;
}

.sprite-stamp008 {
    background-position: -700px 0;
}

.sprite-stamp009 {
    background-position: 0 -100px;
}

.sprite-stamp010 {
    background-position: -100px -100px;
}

.sprite-stamp011 {
    background-position: -200px -100px;
}

.sprite-stamp012 {
    background-position: -300px -100px;
}

.sprite-stamp013 {
    background-position: -400px -100px;
}

.sprite-stamp014 {
    background-position: -500px -100px;
}

.sprite-stamp015 {
    background-position: -600px -100px;
}

.sprite-stamp016 {
    background-position: -700px -100px;
}

.sprite-stamp017 {
    background-position: 0 -200px;
}

.sprite-stamp018 {
    background-position: -100px -200px;
}

.sprite-stamp019 {
    background-position: -200px -200px;
}

.sprite-stamp020 {
    background-position: -300px -200px;
}

.sprite-stamp021 {
    background-position: -400px -200px;
}

.sprite-stamp022 {
    background-position: -500px -200px;
}

.sprite-stamp023 {
    background-position: -600px -200px;
}

.sprite-stamp024 {
    background-position: -700px -200px;
}

.sprite-stamp025 {
    background-position: 0 -300px;
}

.sprite-stamp026 {
    background-position: -100px -300px;
}

.sprite-stamp027 {
    background-position: -200px -300px;
}

.sprite-stamp028 {
    background-position: -300px -300px;
}

.sprite-stamp029 {
    background-position: -400px -300px;
}

.sprite-stamp030 {
    background-position: -500px -300px;
}

.sprite-stamp031 {
    background-position: -600px -300px;
}

.sprite-stamp032 {
    background-position: -700px -300px;
}

.sprite-stamp033 {
    background-position: 0 -400px;
}

.sprite-stamp034 {
    background-position: -100px -400px;
}

.sprite-stamp035 {
    background-position: -200px -400px;
}

.sprite-stamp036 {
    background-position: -300px -400px;
}

.sprite-stamp037 {
    background-position: -400px -400px;
}

.sprite-stamp038 {
    background-position: -500px -400px;
}

.sprite-stamp039 {
    background-position: -600px -400px;
}

.sprite-stamp040 {
    background-position: -700px -400px;
}

.sprite-stamp041 {
    background-position: 0 -500px;
}

.sprite-stamp042 {
    background-position: -100px -500px;
}

.sprite-stamp043 {
    background-position: -200px -500px;
}

.sprite-stamp044 {
    background-position: -300px -500px;
}

.sprite-stamp045 {
    background-position: -400px -500px;
}

.sprite-stamp046 {
    background-position: -500px -500px;
}

.sprite-stamp047 {
    background-position: -600px -500px;
}

.sprite-stamp048 {
    background-position: -700px -500px;
}

.sprite-stamp049 {
    background-position: 0 -600px;
}

.sprite-stamp050 {
    background-position: -100px -600px;
}

.sprite-stamp051 {
    background-position: -200px -600px;
}

.sprite-stamp052 {
    background-position: -300px -600px;
}

.sprite-stamp053 {
    background-position: -400px -600px;
}

.sprite-stamp054 {
    background-position: -500px -600px;
}

.sprite-stamp055 {
    background-position: -600px -600px;
}

.sprite-stamp056 {
    background-position: -700px -600px;
}

.sprite-stamp057 {
    background-position: 0 -700px;
}

.sprite-stamp058 {
    background-position: -100px -700px;
}

.sprite-stamp059 {
    background-position: -200px -700px;
}

.sprite-stamp060 {
    background-position: -300px -700px;
}

.sprite-stamp061 {
    background-position: -400px -700px;
}

.sprite-stamp062 {
    background-position: -500px -700px;
}

.sprite-stamp063 {
    background-position: -600px -700px;
}

.sprite-stamp064 {
    background-position: -700px -700px;
}

.sprite-stamp065 {
    background-position: -800px 0;
}

.sprite-stamp066 {
    background-position: -800px -100px;
}

.sprite-stamp067 {
    background-position: -800px -200px;
}

.sprite-stamp068 {
    background-position: -800px -300px;
}

.sprite-stamp069 {
    background-position: -800px -400px;
}

.sprite-stamp070 {
    background-position: -800px -500px;
}

.sprite-stamp071 {
    background-position: -800px -600px;
}

.sprite-stamp072 {
    background-position: -800px -700px;
}

.sprite-stamp073 {
    background-position: 0 -800px;
}

.sprite-stamp074 {
    background-position: -100px -800px;
}

.sprite-stamp075 {
    background-position: -200px -800px;
}
