doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Language", content="ja")
    meta(name="keywords", content="すたちゅー,スタチュー,てゆうかもう寝よう,ツイッター,Twitter,スタンプ")
    meta(name="description", content="不思議な生物すたちゅーのツイッター用すたんぷです。")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title="てゆうかもう寝よう。"
    link(rel="icon", href="/images/favicon.png", type="image/png")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css?d=20150401")
    script(type="application/javascript", src="/javascripts/client.js?d=20150401_", defer)
    script.
      var _id = "#{id}";
      var _stampOrder = !{JSON.stringify(stampOrder)};
  body
    div.title
      a#title(unselectable="on") てゆうかもう寝よう。
    div#items.items
      div#selected.selected
        div#taInfo.taInfo
          p すたとばしTA
          p#taCount
          p#taTime
          p#taCps
          p#taAvgCps
          p#taMaxCps
          p#taReset.taReset リセット
      a#tweet.tweet.arrow(target="_blank")
        p ツイート
      a#count.count.arrow(target="_blank")
      a#birthday.birthday(target="_blank")
        p 3月10日は
          br
          | すたちゅー
          br
          | 6歳の誕生日
      a.starap(target="_blank", href="http://alice-books.com/item/show/2888-2")
        p グッズ通販
      div#sort.sort
        label ならべかえ
        label#modelabel.modelabel.off OFF
      div#sync.sync ならび同期
      a.sta4koma(target="_blank", href="http://sta4koma.rgx6.com/")
        p 4コマまんが
    div.clearboth
    div#updated.updated ならび順を保存しました
    div.footer
      p &copy;&nbsp;2014&nbsp;
        | 作:&nbsp;
        a(href="https://twitter.com/rgx_6", target="_blank") @rgx_6
        | ,&nbsp;絵:&nbsp;
        a(href="https://twitter.com/dangoinette", target="_blank") @dangoinette
    div#launchCounter.launchCounter
